@import '/src/styles/constants.scss';

.createBtn{
  grid-column: 3;
  justify-self: right;
  width: fit-content;
  background-color: $orange;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  color: $white;
  display: flex;
  align-items: center;
  &:hover{
    background-color: calc-hover-color($orange);
  }
  &:active{
    background-color: calc-click-color($orange);
  }
}

.actionsBtn{
  background-color: transparent;
  color: white;
  margin: 2px;
}