@import '/src/styles/constants.scss';

@media(max-width: $lg){
  .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px 30px;
  }
}

@media(min-width: $lg){
  .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px 30px;
  }
}

.pagination{
  grid-column: span 1;
  color: $white;
}

.select{
  margin-left: 10px;
  background-color: $gray;
  border: none;
  color: $white;
  border: 1px solid $white;
  border-radius: 3px;
}

.search{
  grid-column: span 1;
  justify-self: center;
  color: $white;
  .inputSearch{
    margin-left: 10px;
    border: none;
    border-radius: 3px;
    background-color: $gray;
    color: inherit;
    &:focus{
      outline: 2px solid $orange;
    }
  }
}

