@import '/src/styles/constants.scss';

@media(max-width: $lg){
  .container{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .pagination{
    grid-column: span 3;
    justify-self: right;
    color: $white;
    margin-bottom: 15px;
  }
  .search{
    grid-column: span 1;
    justify-self: left;
    margin-bottom: 15px;
  }
}

@media(min-width: $lg){
  .pagination{
    grid-column: span 1;
    color: $white;
  }
}



.select{
  margin-left: 10px;
  background-color: $gray;
  border: none;
  color: $white;
  border: 1px solid $white;
  border-radius: 3px;
}

.search{
  justify-self: center;
  color: $white;
  grid-column: span 1;
  display: flex;
  align-items: center;
  .inputSearch{
    margin-left: 10px;
    border: none;
    border-radius: 3px;
    background-color: $gray;
    color: inherit;
    &:focus{
      outline: 2px solid $orange;
    }
  }
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0px 30px;
}