@import '/src/styles/constants.scss';

.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0px 30px;
}

.pagination{
  color: $white;
}

.select{
  margin-left: 10px;
  background-color: $gray;
  border: none;
  color: $white;
  border: 1px solid $white;
  border-radius: 3px;
}

.search{
  justify-self: center;
  color: $white;
  .inputSearch{
    margin-left: 10px;
    border: none;
    border-radius: 3px;
    background-color: $gray;
    color: inherit;
    &:focus{
      outline: 2px solid $orange;
    }
  }
}

.table{
  margin: 30px 0px;
  grid-column: span 3;
  background-color: $white;
  border-collapse: collapse;
  border-spacing: 0;
  thead {
    background-color: $orange;
    color: $white;
    text-align: left;
  }
  th, td {
    border: 1px solid $orange;
    padding: 5px;
  }
  th{
    font-size: 17rem;
    .thContainer{
      display: flex;
      align-items: center;
      justify-content: space-between;
      div{
        width: 25px;
        height: 25px;
      }
    }
  }
  tbody tr td{
    &:hover{
      background-color: calc-click-color($white);
      }
  }
}

