@import '/src/styles/constants.scss';

nav {
  display: flex;
  justify-content: center;
  background-color: $white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 960px;
  width: 100%;
  height: 60px;
}

li {
  margin: 0 10px;
}


a:hover {
  color: $orange;
}

@media(max-width: $lg){
  a {
    color: $black;
    text-decoration: none;
    font-size: 14rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;
  }
}

@media(min-width: $lg){
  a {
    color: $black;
    text-decoration: none;
    font-size: 18rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;
  }
}